nodered-docker-pwdgenerator/flows.json
[{"id":"d38238a9.39c3f8","type":"tab","label":"Flow 1"},{"id":"e05fdf38.f3a22","type":"comment","z":"d38238a9.39c3f8","name":"Click here for the first steps","info":"Click on nodes on the palette and get a description here.\n\nDrag them to the center to use them, and click and hold to link outputs to inputs.\n\nOnce you update your flow, click on the Deploy button at the top right to run it.","x":157,"y":48,"wires":[]},{"id":"8084919a.1a668","type":"inject","z":"d38238a9.39c3f8","name":"<-- This button injects a text message","topic":"","payload":"Hello world!","payloadType":"str","repeat":"","crontab":"","once":false,"x":261,"y":173,"wires":[["c2e43dc4.92caf"]]},{"id":"c2e43dc4.92caf","type":"debug","z":"d38238a9.39c3f8","name":"This outputs to the debug tab","active":true,"console":"false","complete":"payload","x":627,"y":194,"wires":[]},{"id":"7f21aa7f.b26404","type":"comment","z":"d38238a9.39c3f8","name":"Simple flow. Click deploy at the top to test it right now!","info":"","x":248,"y":131,"wires":[]}]
